/* Ensure the body and root take up the whole screen */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.dashboard-layout {
  display: flex; /* Using flex for simplicity */
  height: 100vh;
  width: 100vw;
}

.table-section {
  width: 400px;
  height: 100%;
  overflow: hidden;
  border-right: 1px solid #ccc;
}

.map-section {
  flex-grow: 1;
  height: 100%;
  background: #eee;
}